/* Add this to your global CSS file if needed */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    background-color: white;
    color: blue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .bg{
    background-color: rgba(0, 0, 0, 0.6);
  }
  .dropdown-menu li {
    padding: 8px 16px;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    position: relative;
  }
  
  ul ul {
    display: none;
    position: absolute;
    top: 100%;
  }
  
  ul li:hover > ul {
    display: block;
  }
  
  .fas.fa-chevron-down {
    font-size: 0.75rem;
  }
    